
*.vsidx
*.lock
*.db
*.bin
*.ipch
*.suo
*.obj
*.tlog
*.obj
*.cso
*.lib
*.pdb
*.idb
*.obj
*.res
*.log
*.ilk
*.pch
*.recipe
*.obj
ImGui/x64/Debug/imgui_widgets.obj
ImGui/x64/Debug/imgui_tables.obj
ImGui/x64/Debug/imgui_impl_win32.obj
ImGui/x64/Debug/imgui_impl_dx11.obj
ImGui/x64/Debug/imgui_draw.obj
ImGui/x64/Debug/imgui_demo.obj
ImGui/x64/Debug/imgui.obj
